body {
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 1rem;
}
.card-img {
    width: 80%;
}
.card {
    width: 27vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
    height: 53vh;
    justify-content: space-around;
    margin: 4rem 0;
    border-radius: 20px;
}
.card-title {
    font-size: 2.2rem;
    text-transform: uppercase;
}
.card-desc {
    font-size: 1.3rem;
    padding: 2rem;
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
}
.flex-container2 {
    display: flex;
    justify-content: space-evenly;
}
.flex-container3 {
    display: flex;
    justify-content: space-evenly;
}