body {
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-image: url("img/background.jpg");
}
h1 {
    font-size: 1rem 0;
}
.card-img {
    width: 80%;
    border-radius: 20px;
}
.card {
    width:22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightpink;
    height: 24vw;
    justify-content: space-between;
    margin: 3rem 0;
    border-radius: 20px;
    filter: drop-shadow(20px 15px 10px rgb(172, 62, 98));
    transition: all 0.5s;
}
.card-title {
    font-size: 2.2rem;
    text-transform: uppercase;
}
.card-desc {
    font-size: 1.3rem;
    padding: 2rem;
    color: rgb(172, 62, 98);
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
h2 {
    font-weight:bold;
    color: white;
}
h1 {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin: 2rem;
    color: palevioletred;
    text-decoration:underline;
}
.card:hover {
    opacity: 75%;
    transform:  translateY(-11px);
}
#lastimg {
    justify-content: center;
    opacity: 90%;
}
#firstcard:hover {
    background-color: plum;
    filter: drop-shadow(20px 15px 10px purple);
    transform:  translateY(0px);
}
#secondcard:hover {
    transition:ease-out 1s;
    opacity: 100%;
    transform: translateX(14px);
}
#thirdcard {
    filter:grayscale(100%);
}
#thirdcard:hover {
    filter: grayscale(0%);
    opacity: 100%;
}